* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  background-image: linear-gradient(#0d144e, #1a5562);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-left: 20px;
}

.links {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.links button {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.4s;
  font-weight: bold;
}

.links button.selectable {
  background-color: #e7361a;
  border: 1px solid #e7361a;
  color: white;
}

.links button:active {
  transform: translateY(2px);
}
